<!DOCTYPE html>
<html lang='en'>
<head>
	<title>{% block title %}Yayasan kwitansi{% endblock %}</title>
	<!-- Superhero theme, of course. From http://bootswatch.com/ -->
	<link rel='stylesheet' href='/bootstrap.min.css' />

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
	<script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
	<![endif]-->

	<style type="text/css">
		#errmsg
		{
			color: red;
		}
	</style>
</head>
<body>
	<div class='container'>
		<div class='header'>
			<h3 class='text-muted'>Kwitansi printing</h3>
		</div>

		<div class='jumbotron'>
			{% block content %}
			<p>Hmmm... there's no content here. Marcus needs to do some more work!</p>
			{% endblock %}
		</div>

		<div class='footer'>
			<p>&copy; Marcus Hammarberg, <a href='https://twitter.com/marcusoftnet' target='_blank'>@marcusoftnet</a> 2014</p>
		</div>

	</div> <!-- /container -->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".numeric").keypress(function (e) {
				if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
					$("#errmsg")
						.html("Hanya angka yang diperbolehkan")
						.show()
						.fadeOut(6000);

					return false;
				}
			});
			$(".nonempty").focusout(function (e) {
				if(e.currentTarget.value.length < 1){
					$("#errmsg")
						.html("Tidak boleh kosong")
						.show()
						.fadeOut(6000);
					return false;
				}
			});

			$("#kwitansiForm").submit(function( event ) {
		  		var containsValidationError = false;

		  		if(isEmptySetError("#recievedFrom")) containsValidationError = true;
		  		if(isEmptySetError("#forPayments")) containsValidationError = true;
		  		if(isEmptySetError("#amount")) containsValidationError = true;
		  		if(isEmptySetError("#cashier")) containsValidationError = true;
		  		if(isEmptySetError("#kwitansiDate")) containsValidationError = true;

	  	 		if(containsValidationError){
	  				event.preventDefault();
	  			}
  			});

  			function isEmptySetError(selector) {
  				if(!isEmpty(selector)) return false;

  				setEmptyErrorMessage(selector);
  				return true;
  			}

  			function isEmpty(selector){
  				var val = $(selector).val();
				return val.length === 0;
  			}

			function setEmptyErrorMessage(selector){
				var message = "Tidak boleh kosong: '"
					+ labelForControl(selector)
					+ "'";

				$("#errmsg")
					.html(message)
					.show()
					.fadeOut(6000);
			};

			function labelForControl(selector){
				var selectorWithOutHash = selector.slice(1);
				var label = $("label[for='" + selectorWithOutHash + "']").text();
				return label.substr(0, label.length - 1);
			};
		});
	</script>
</body>
</html>