<html>
<head>
	<title>Print kwitansi {{kwitansiNo}}</title>
	<style type="text/css">
			.lead {
				font-family: "Verdana";
				font-weight:bold;
			}
			.value {
				font-family: "Verdana";
			}
			.value-big {
				font-family: "Verdana";
			}
			.td {
				valign : "top";
			}
			@page {
				size: Legal;
			}
			@media print {
			  html, body {
			    width: 210mm;
			    height: 89mm;
			  }
			}
	</style>
	<script type="text/javascript">
		var beforePrint = function() {
		};

		var afterPrint = function() {
			document.location.href = '/{{hospitalName}}';
		};

		if (window.matchMedia) {
			var mediaQueryList = window.matchMedia('print');
			mediaQueryList.addListener(function(mql) {
				if (mql.matches) {
					beforePrint();
				} else {
					afterPrint();
				}
			});
		}

		window.onbeforeprint = beforePrint;
		window.onafterprint = afterPrint;
    </script>
</head>
<body>
	<table border="1">
		<tr>
			<td width="100px">&nbsp;</td>
			<td valign="top" with="500px">
				<table cellpadding="4">
					<tr>
						<td width="150px"><div class="lead">No kwitansi:</td>
						<td><div class="value">{{kwitansiNo}}</div></td>
					</tr>
					<tr>
						<td><div class="lead">Telah terima dari:</div></td>
						<td><div class="value">{{recievedFrom}}</div></td>
					</tr>
					<tr>
						<td><div class="lead">Untuk Pembayaran:</div></td>
						<td><div class="value">{{forPayments}}</div></td>
					</tr>
					<tr>
						<td><div class="lead">Tanggal:</div></td>
						<td><div class="value">{{kwitansiDate}}</div></td>
					</tr>
					<tr>
						<td><div class="lead">Rupiah:</div></td>
						<td><div class="value-big">Rp. {{amount}}</div></td>
					</tr>
					<tr>
						<td><div class="lead">Uang Sejumlah:</div></td>
						<td><div class="value">{{amountText}} rupiah</div></td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td><div class="lead">Kasir:</div></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>____________________________________________________</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><div class="value">{{cashier}}</div></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			window.print();
		});
	</script>
</body>
</html>
